<!DOCTYPE html>
<html lang="en" data-theme="light" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Telegraph" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="min-h-screen bg-base-200 text-base-content pt-16">
    <ul class="menu menu-horizontal bg-base-100 rounded-box absolute top-0 right-0 m-2 h-13">
      <%= if @current_user do %>
        <li>
          <span class="text-sm"><%= @current_user.email %></span>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="btn btn-ghost btn-sm"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="btn btn-ghost btn-sm"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="btn btn-ghost btn-sm"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="btn btn-ghost btn-sm"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <main class="container mx-auto px-4 pb-8 relative">
      <%= @inner_content %>
    </main>
  </body>
</html>
